@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700')

*
  margin 0
  padding 0
  box-sizing border-box

body
  font-family 'Source Code Pro', monospace

video
    position: fixed
    top: 50%
    left: 50%
    min-width: 100%
    min-height: 100%
    width: auto
    height: auto
    z-index: -100
    transform: translateX(-50%) translateY(-45%)
    -webkit-filter:brightness(0.7)

#InstructionBar
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif
    font-weight:100
    background: rgba(0,0,0,0.3)
    color: white
    padding: 2rem
    width: 70%
    margin: 10rem
    float: center
    font-size: 1.2rem

button
    -webkit-font-smoothing: antialiased
    background-color: $dark-blue
    border: none
    color: #fff
    display: inline-block
    font-family: 'Montserrat', sans-serif
    font-size: 14px
    font-weight: 100
    text-decoration: none
    user-select: none
    letter-spacing: 1px
    color: white
    padding: 20px 40px
    text-transform: uppercase
    transition: all 0.1s ease-out

#backgoundSignIn

.header
  background url(https://drive.google.com/file/d/1-TdtstG9qJSmVRQDfhzbtmAaQMxzvKDS/view)
  background-position center

  .page-title
    font-weight 200
    font-size 80px
    text-align center
    padding 100px
    text-transform uppercase
    color #fff

.nav
  background #000
  text-align center

  li
    display inline-block

  a
    display inline-block
    padding 20px
    color #fff
    text-decoration none

    &:hover
      background-color #3AB795
      text-decoration underline

.main-content
  margin 50px auto
  max-width 600px

  p
    line-height 1.6
    margin-bottom 1.7em

.footer
  margin 50px auto
  max-width 600px
  border-top 1px solid #444
  padding 20px 0

  p
    color #444
    font-size 12px

  